# ----- Database -----
DB_NAME=e_utilities_cost
DB_USER=app_user
DB_PASSWORD=ChcasijzGSrfzw
DB_ROOT_PASSWORD=ChcasijzGSrfzw

# ----- Backend / JWT -----
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=change_this_to_another_long_random_string
REFRESH_TOKEN_EXPIRES_IN=7d
FRONTEND_ORIGIN=http://202.29.231.188:30042

# ----- Seed -----
SEED_ADMIN_PASSWORD=admin1234

# ----- Docker Hub -----
DOCKERHUB_USERNAME=your_dockerhub_username
